 
   * {
      font-family: 'Raleway';
      font-style: normal
   }


   body {
      background: white;
      margin: auto;
      max-width: 1400px;
      justify-content: center;
      padding: 0 3%;
   }

   header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin: 0 5px 20px 5px;
   }

   nav {
      box-sizing: border-box;
      margin: 0;
      padding: 0;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 19px; 
      text-align: center; 
   }
   #logo {
      width: 61.09px;
      height: 19px;
      left: 0px;
      top: 0px;
   }

   nav a {
      width: 160px;
      color: #000000;
      text-decoration: none;
      display: flex; 
      padding: 30px 0 30px 0; 
      justify-content: center;
   }

   nav a:hover {
      color: #0065FC;
      border-top: 2px #0065FC solid;
   }

   .titres {      
      font-weight: 700;
      font-size: 22px;
      line-height: 26px;
      margin: 0;
   }

   .sous-titres {
      font-weight: 400;
      font-size: 16px;
      line-height: 19px;
   }

   #container-recherche {
      margin: 0 5px 20px 5px;
   }

   #container-recherche form {
      display: flex;
      flex-direction: row;
      align-items: center;
      margin-top: 20px;
   }

   .fa-location-dot {
      background: #F2F2F2;
      border: 1px solid #F2F2F2;
      border-radius: 15px 0px 0px 15px;
      padding: 15px;
      width: 18px;
      text-align: center;
   }

   #barre-recherche {
      background: #FFFFFF;
      height: 45px;
      border-top: 1px solid #F2F2F2;
      border-bottom: 1px solid #F2F2F2;
      border-left: none;
      border-right: none;
      font-family: 'Raleway';
      font-style: normal;
      font-weight: bold;
      font-size: 18px;
      line-height: 21px;
      font-weight: 700;
      text-align: left;
      padding-left: 20px;
   }

   ::placeholder {
      color:black;
      opacity: 1;
   }

   #bouton-rechercher {
      height: 49px;
      background: #0065FC;
      border: 1px solid #0065FC;
      border-radius: 0px 15px 15px 0px;
      font-family: 'Raleway';
      font-style: normal;
      font-weight: 700;
      font-size: 18px;
      line-height: 21px;
      text-align: center;
      color: #FFFFFF;
      padding: 12px 20px;   
   }

   .fa-magnifying-glass {
      display: none;
      color: white;
   }

   .titres-secondaires {
      font-weight: 700;
      font-size: 18px;
   }

   #filtres-titre {
      display: flex;
      flex-direction: row;
      align-items: center;
      margin-left: 15px;
    }

   .filtres {
      font-family: 'Raleway';
      font-style: normal;
      width: auto;
      font-weight: 700;
      font-size: 17px;
      line-height: 20px;
      display: flex;
      flex-direction: row;
      align-items: center;
      padding: 10px 15px;
      border: 2px solid  #D9D9D9;
      border-radius: 30px;
      height: 20px;
      flex-wrap:nowrap; 
      margin: 0 10px;
   }

   .filtres i {
      color: #0065FC;
      padding-right: 10px; 
      font-size: 21px;
   }

   #filtres-recherche {
      display: flex;
      flex-direction: row;
      text-align: center;
      padding: 15px;
      justify-content: space-between;
      align-items: center;
      margin-top: 10px;
      width: 80%;
   }

   .filtres:hover {
      background-color: #DEEBFF;
   }

   #info {
      display: flex;
      flex-direction: row;
      align-items: center;
      margin-left: 15px;
   }

   #info i {
      color: #0065FC;
      border: 1px solid #D9D9D9;
      border-radius: 20px;
      padding: 10px 15px;
      margin-right: 10px;
   }

   #hebergements {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      margin: 30px 0;
      width: 100%;
   }

   #hebergements a {
      text-decoration: none;
      outline: none;
   }

   #container-marseille {
      background-color: #F2F2F2 ;
      padding: 35px 40px;
      border-radius: 15px;
      width: 60%;
      display: flex;
      flex-direction: column;
      margin-right: 25px;
   }

   #container-cards-marseille {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      flex-wrap: wrap;
      margin: 15px 0 25px 0;
   }

   .card-marseille {
      background-color: white;
      border-radius: 20px;
      padding: 5px;
      width: 30%;
      box-shadow: 0 4px 20px rgba(0,0,0,0.1);
      margin: 15px 0;
   }

   .card-marseille img {
      border-radius: 15px 15px 0 0;
      object-fit: cover;
      max-width: 100%;
      height: 130px;
   }
   .container-card {
      padding-left: 15px;
      align-items: center;
   }

   .card-titre {
      font-weight: 700;
      font-size: 16px;
      margin: 6px 0;
      word-wrap: wrap;
   }

   .card-sous-titre {
      font-weight: 400;
      font-size: 14px;
      margin: 6px 0;
      text-justify: center;
   }

   .card-contenu-etoiles {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      padding-bottom: 5px;
      padding-top: 3px;
      width: 80px;
   }

   .blue-star {
      color: #0065FC;
      font-size: 12px;
   }

   .grey-star {
      color: #F2F2F2;
      font-size: 12px;
   }


   #container-populaires {
      background-color: #F2F2F2 ;
      padding: 35px 40px 20px 40px;
      border-radius: 15px;
      width: 25%;
      display: flex;
      flex-direction: column;
      }

   #populaires-chart {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
   }

   .fa-chart-line{
      color: #0065FC;
   }

   #container-cards-populaires {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      margin-top: 15px;
   }

   .card-populaire {
      display: flex;
      flex-direction: column;
      background-color: white;
      border-radius: 20px;
      padding: 5px;
      margin: 15px 0;
      height: 144px;
      box-shadow: 0 4px 20px rgba(0,0,0,0.1);
   }

   .card-populaire a {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      flex-wrap: nowrap;
      justify-content: left;
   }

  .card-populaire a img {
      border-radius: 15px 0 0 15px;
      object-fit:cover;
      width: 106px;
      height: 144px;
      margin-right: 15px;
   }

   .card-contenu {
      display: flex;
      flex-direction: column;
      flex-wrap:nowrap;
      margin-right: 10px;
   }
   .card-contenu-titres {
      height: 80px;
      margin-bottom: 40px;
   }

   #activites {
      margin: 50px 0;
   }
   #container-activites {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      margin-top: 20px;
   }

   .card-activite {
      width: 23%;
      height: 445px;
      background-color: white;
      border-radius: 20px;
      box-shadow: 0 4px 20px rgba(0,0,0,0.1);
      display: flex;
      flex-direction: column;
      justify-content: space-between;
   }

   .card-activite img {
      width: 100%;
      height: 390px;
      object-fit: cover;
      border-radius: 20px 20px 0 0;
   }

   .card-activite h2 {
      display: flex;
      height: 45px;
      width: 80%;
      align-items: center;
      padding: 0 0 0 20px;
      margin: 0;
   }

   a {
      text-decoration: none;
   }

   a:visited {
      color: #000000;
   }

   footer {
      background-color: #F2F2F2;
      padding: 30px 60px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
   }

   footer ul {
      list-style-type: none;
      padding-left: 0;
      line-height: 30px;
      text-decoration: none;
      margin: 0;
      width: 30%;
   }

/*Media Queries Tablette*/

@media screen and (min-width: 769px) and (max-width: 991px){
   body {
      max-width: 1024px;
      justify-content: center;
      margin: 0 30px;
   }

   #filtres-titre {
      width: 100%;
      justify-content: center;
      margin: auto;
    }

   #filtres-recherche {
      margin: 20px;
      padding: 0;
      width: 90%;
   }
   .filtres {
      margin: 0 10px;
      font-size: 14px;
   }

   .filtres i{
      font-size: 18px;
   }

   #info {
      margin-left: 0;
   }

   #hebergements {
      flex-direction: column;
      justify-content: center;
      margin-top: 10px;
      width: 91%;
   }

   #container-marseille {
      width: 100%;
      margin: 20px 0;
   }

   #container-cards-marseille {
      justify-content: space-between;
   }

   #container-populaires {
      width: 100%;
      margin: 20px 0;
   }

   #container-cards-populaires {
      flex-direction: row;
      justify-content: space-between;
      margin-top: 20px;
   }

   .card-populaire {
      width: 30%;
      height: 139px;
      margin: 0;
   }
   .card-contenu {
      margin-right: 0;
   }
   
   .card-titre-pop {
      font-weight: 700;
      font-size: 14px;
      margin-right: 5px;
   } 

   .card-sous-titre-pop {
      font-size: 13px;
      font-weight: 400;
      margin-right: 0;
   }

   .card-populaire a img {
      margin-right: 10px;
      height: 139px;
      width: 90px;
   }

   #container-activites {
      margin: 20px 0;
   }

   .card-activite {
      height: 267px;
      width: 21%;
   }

   .card-activite img {
      height: 215px;
   }

}
/*Media Queries Mobile*/   
@media screen and (max-width: 768px){

   body {
      padding: 0;
   }

   header {
       flex-direction: column;
       margin: 20px 0;
       padding: 0;
       width: 100%;
   }

   nav {
       width: 100%;
   }

   nav a {
       width: 50%;
       padding: 40px 0 15px 0;
   }

   nav a:hover {
       color: #0065FC;
       border-bottom: 3px #0065FC solid;
       border-top: none;
   }


   #container-recherche {
      width: 90%;
      margin: auto;
   }

   form {
      width: 100%;
      margin-top: 30px;
   }

   #bouton-rechercher {
      padding: 16px;
   }

   #bouton-rechercher span{
      display: none;
   }

   .fa-magnifying-glass {
      display:inline;
    }

    #filtres-titre {
      flex-direction: column;
      align-items: flex-start;
      justify-content: space-between;
      width: 90%;
      margin: auto;
    }

    #filtres-recherche {
      width: 100%;
      height: 120px;
      flex-wrap: wrap;
      padding: 0;
      justify-content: space-between;
      margin: 0 0 20px 0;
    }

    #filtres-titre p {
      margin: 30px 0 8px 0;
    }

    .filtres {
      width: 39%;
      font-size: 10px;
      flex-wrap: nowrap;
      margin: 0;
      padding: 13px;
    }

    .filtres i{
      padding-right: 5px;
      margin-top: 0;
    }

    #info {
      width: 90%;
      margin: 20px;
      align-items: start;
    }

    #info i {
      font-size: 13px;
      padding: 5px 9px;
    }

    #info p {
      margin-top: 4px;
   }

    #hebergements {
      flex-direction: column-reverse;
      width: 100%;
      margin: 0;
    }

    #container-populaires {
      width: 100%;
      margin: 0;
      border-radius: 0;
      padding: 15px 0 40px 0;
    }

    #populaires-chart {
      width: 100%;
      margin: 20px;
    }

    #populaires-chart h1 {
      width: 60%;
      flex-wrap: nowrap;
    }

    #container-cards-populaires {
      width: 100%;
      align-items: center;
      margin: 0;
    }

    .card-populaire {
      width: 90%;
      margin: 8px 0;
    }

    .card-contenu-etoiles {
      width: 60px;
    }

    #container-marseille {
      background-color: white;
      width: 90%;
      margin: auto;
      padding: 0;
      margin-bottom: 60px;
      margin-top: 30px;
    }

    #container-cards-marseille {
      flex-direction: column;
      flex-wrap: nowrap;
      width: 100%;
      align-items: center;
    }

    .card-marseille {
      width: 100%;
      margin: 8px 0;
    }

    #container-marseille .titres-secondaires {
      display: none;
    }

    #activites {
      width: 90%;
      margin: auto;
      margin-bottom: 60px;
    }
    #container-activites {
      flex-direction: column;
      width: 100%;
    }

    .card-activite {
      width: 100%;
      height: 190px;
      margin: 10px 0;
    }

    .card-activite img {
      height: 134px;
    }

    footer {
      flex-direction: column;
      width: 90%;
      padding-left: 30px;
    }

    footer ul {
      width: 100%;
      margin-bottom: 30px;
    }


}





